:root {
  --primary: #222831;
  --secondary: #c85028;
  --soft-white: #fafafa;
  --grey: #9a9793;
  --formBg: #3a414b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  background-color: var(--primary);
  color: var(--soft-white);
}

.container header {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.nav-bar--container {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar--items {
  display: none;
}

.nav-bar--container .bx {
  display: inline-block;
  z-index: 1000;
}

.nav-bar--items.show {
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 180px;
  padding-left: 20px;
  row-gap: 40px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: var(--formBg);
  box-shadow: 10px 10px 80px var(--primary);
}



.background-img {
  position: absolute;
  z-index: -100;
  top: 0;
  width: 100%;
  height: 800px;
  background-image: linear-gradient(
      180deg,
      rgba(34, 40, 49, 0.7),
      rgba(34, 40, 49, 1)
    ),
    url("../assets/imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

i {
  color: var(--soft-white);
  font-size: 4.5rem;
}

i:hover {
  color: var(--secondary);
}

a {
  color: var(--soft-white);
}

.header-main--text {
  width: 90%;
  margin: 60px auto;
  padding: 0;
}

.header-main--text h2 {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.header-main--text .social-icons {
  text-align: center;
  margin-bottom: 40px;
}

.header-main--text .social-icons a i {
  margin-right: 20px;
}


.main-services--left,
.main-services--right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texts {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 3rem 0;
  text-align: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 40px auto 50px auto;
  background-color: var(--secondary);
  border: none;
  color: var(--soft-white);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: 3px solid var(--secondary);
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.down-arrow {
  font-size: 7rem;
  margin: auto;
  color: var(--soft-white);
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 7rem auto;
}

.headers {
  font-size: 3rem;
  margin: 5rem auto;
}

.main-services img {
  width: 220px;
  border-radius: 20px;
  margin: auto;
}

.circle-left {
  display: none;
}

.sub-headers {
  font-size: 2.5rem;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.main-services .btn {
  margin-top: 4rem;
}

.pattern-left {
  position: absolute;
  left: 0;
}

.pattern-right {
  position: absolute;
  right: 0;
  z-index: -100;
}

.reviews-grid {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  column-gap: 20px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.main-reviews--container {
  scroll-snap-align: center;
  background-color: rgba(255, 64, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 260px;
  height: 450px;
  min-width: 260px;
  max-width: 260px;
  max-height: 450px;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.dark-container {
  background-color: var(--primary);
}

.main-reviews--content {
  width: 250px;
  height: 100%;
  min-width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.main-reviews--container img {
  width: 100%;
  height: auto;
  max-height: 220px;
  max-width: 220px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.main-reviews--text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main-reviews--text h5 {
  align-items: flex-end;
}

.about-us--container {
  margin: auto;
  text-align: center;
}

.about-us--container img {
  width: 290px;
}

hr {
  margin-top: 50px;
}

.about-us--container .texts {
  padding-bottom: 5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: auto;
  width: 90%;
  row-gap: 30px;
}

.list-items {
  text-align: center;
}

.footer-container ul li {
  list-style: none;
  margin-top: 10px;
  border-bottom: 2px solid transparent;
}

.footer-container ul li a:hover {
  border-bottom: 2px solid var(--soft-white);
}

.footer-container ul li a {
  text-decoration: none;
  color: #fff;
}

.copy-right--container {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
  margin-top: 5rem;
  color: #222831;
  font-size: 0.7rem;
  padding: 0 10px;
}

.copy-right--container img {
  width: 26px;
  height: 26px;
}

.copy-right--right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.copy-right--container .social-icons a i{
  font-size: 2.5rem;
  margin-left: 10px;
}

/* CSS walker form starts here */

.form-container {
  max-width: 530px;
  margin: auto;
}

.header-container {
  display: flex;
  padding-top: 20px;
  margin: 0 auto 40px auto;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}


form h2 {
  font-size: 2rem;
}

label {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
}

input {
  height: 33px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  padding-left: 10px;
}

input[type="number"] {
  width: 100px;
}

.race-age {
  display: flex;
  justify-content: space-between;
}

.race,
.age {
  display: flex;
  flex-direction: column;
}
.race {
  width: 190px;
}

.rad {
  display: flex;
  align-items: center;
}

.rad label {
  font-size: 1.8rem;
  margin: 10px 0;
  padding: 0 20px;
}

input[type="radio"] {
  width: 2rem;
  height: 2rem;
  margin-top: 15px;
}

.date-picker {
  width: 250px;
  font-size: 1.4rem;
  padding: 11px;
}

::placeholder {
  font-size: 1.2rem;
  padding: 5px;
  opacity: 50%;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  resize: none;
}

.phone {
  width: 250px;
}

.form-btn {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--soft-white);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: transparent;
  transition: all 0.1s ease-in;
}

.thanks {
  display: block;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}

.thanks h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.thanks h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.thanks img {
  width: 200px;
}

.thanks .btn-back {
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
  padding: 15px 25px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
}

.thanks .btn-back:hover {
  background-color: transparent;
  transition: 0.2s ease-in;
}
/* css form ends here */

/* vets page css starts here */

.email-input {
  width: 300px;
  margin: auto;
}

.no-page-btn {
  width: 300px;
  border-radius: 15px;
}

/* vets page css ends here */


/*media queries starts here */

@media (min-width: 768px) {

  .nav-bar--items.show {
    width: 50vw;
  }

  .header-main--text h2,
  .texts,
  .header-main--text .social-icons {
    text-align: left;
  }

  .header-main--text {
    width: 590px;
    margin: 5%;
  }

  .headers {
    font-size: 5rem;
  }

  .sub-headers {
    margin: 0;
    text-align: left;
  }

  .header-main--text h2 {
    font-size: 5rem;
  }

  .main-services img {
    width: 300px;
    margin-bottom: 50px;
  }

  .about-us--container img {
    width: 300px;
  }

  .copy-right--container {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 1rem;
  }

  .copy-right--container img {
    width: 26px;
    height: 26px;
  }

  .list-items,
  .footer-container ul li {
    font-size: 1.5rem;
  }

  .copy-right--container .social-icons a i {
    font-size: 3rem;
  }

  .form-container {
    width: 530px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 8rem;
  }

  .nav-bar--container .bx {
    display: none;
  }

  .nav-bar--btn {
    border: none;
    background-color: var(--secondary);
    padding: 1rem 1.8rem;
    color: var(--soft-white);
    border-radius: 50px;
    font-weight: 700;
    border: 3px solid var(--secondary);
    cursor: pointer;
    text-decoration: none;
  }

  .nav-bar--btn:hover {
    background-color: transparent;
    transition: all 0.1s ease-in;
  }

  .nav-bar--container i {
    display: none;
  }

  .nav-bar--items {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
  }

  .nav-bar--items li {
    list-style: none;
  }

  .nav-bar--items li:not(:last-child) {
    color: var(--soft-white);
    text-decoration: none;
    margin-right: 50px;
    border-bottom: 2px transparent var(--soft-white);
  }

  .nav-bar--items li:hover:not(:last-child) {
    border-bottom: 2px solid var(--soft-white);
  }

  .btn {
    margin-top: 2rem;
  }

  .main-services--left {
    flex-direction: row;
  }

  .main-services--right {
    flex-direction: row;
    column-gap: 100px;
    margin-top: 200px;
  }

  .main-services img {
    width: auto;
    height: 350px;
  }

  .circle-left {
    display: block;
    position: absolute;
    left: 0;
    z-index: -100;
  }

  .circle-left img {
    width: 300px;
    height: auto;
  }

  .pattern-right img {
    width: 150px;
  }

  .main-services--left img {
    order: 2;
    transform: rotate(45deg);
  }

  .main-services--left p {
    width: 500px;
  }

  .main-services .btn {
    margin-top: 150px;
  }

  .main-services--left .left-content {
    order: 1;
  }

  .main-reviews--content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 30px 0;
    column-gap: 20px;
  }

  .main-reviews--container {
    height: 265px;
    min-width: 450px;
  }

  .main-reviews--text {
    justify-content: space-between;
    font-size: 1rem;
  }

  .main-reviews--container img {
    width: 360px;
    height: auto;
    max-width: 180px;
    max-height: 180px;
    margin: 0;
  }

  .reviews-grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: hidden;
  }

  .about-us--content {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }

  .about-us--left img {
    width: 450px;
  }

  .form-container {
    width: 700px;
    max-width: 700px;
  }

  .form-back {
    background-color: #3a414b;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
  }

  .body-bg {
    width: 100%;
    height: 150vh;
    max-height: auto;
  }

  .body-bg {
    content: "";
    width: 100%;
    height: 170vh;
    background-image: url("../assets/imgs/form-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .email-input {
    width: 500px;
  }
}

@media (min-width: 1440px) {
  .main-reviews--content {
    column-gap: 50px;
  }

  .main-reviews--text {
    font-size: 1.2rem;
  }

  .main-reviews--container {
    width: 100%;
    min-width: 550px;
  }

  .reviews-grid {
    column-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .about-us--container img {
    margin: 0;
    width: 400px;
  }

  .copy-right--container img {
    width: 50px;
    height: 50px;
  }

  .copy-right--right {
    display: flex;
    align-items: center;
  }

  .copy-right--right h4 {
    margin-left: 30px;
  }

  .copy-right--container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
  }

  .copy-right--container .social-icons a i {
    font-size: 5rem;
  }
}
